@{
    ViewData["Title"] = "Home Page";
}
@model DataModel

<div class="text-center">
    <h1 class="display-4">Сложение отрицательных чисел</h1>
    <h2 class="display-3">Введите числа через пробел</h2>
    <h2 class="display-2">Результат:</h2>
    <h3 class="display-1">
        @{
            if (Model != null)
            {
                @Model.Result
                ;
            }
        }
    </h3>
    <form asp-controller="Home" method="post">
        <div>
            <input asp-for="Value" type="text" />
        </div>
        
        <input class="btn btn-outline-primary" value="Получить сумму" type="submit"/>
    </form>
</div>
